.bg-footer{
    background-color: #2A2A29 ;
}
.font-text{
    font-family: Arial, Helvetica, sans-serif;
}
.cursor{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.cursor:hover{
    cursor: pointer;
    text-decoration: none;
    color: red;    
}
.cursor{
    font-size: 12px !important;
}
.ico-size{
    font-size: 25px;
    color: white;
    align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.reclamos{
    margin-top: 20px;
    max-width: 120px;
    
}
.text-contact{
    font-size: 12px;
}