section{
  color: black;  
  height: 100vh;
}

.navBg{
  background-color: #2A2A29;
}
.logo-navbar{
  width: 300px;
}
.text-navbar{
  color: white !important;
}
.text-navbar:hover{
  color: red !important;  
}
.alt-img-slider{
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

@media (max-width: 700px) { 
.alt-img-slider{
  height: 70vh;
}

}